<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">All Artists by Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Name</th>
        <th>Style</th>
        <th>Location</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/artists(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="artist : ${artists}">
                <a th:href="@{/artists(column=name,value=${artist.name})}" th:text="${artist.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="style : ${styles}">
                <a th:href="@{/artists(column=style,value=${style.name})}" th:text="${style.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="artist : ${artists}">
                <a th:href="@{/artists(column=location,value=${artist.location})}" th:text="${artist.location}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>