<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <input type="radio" name="artists" id="all" value="all">
    <label for="all">All Artists</label>
    <input type="radio" name="artists" id="name" value="name">
    <label for="name">Name</label>
    <input type="radio" name="artists" id="style" value="style">
    <label for="style">Style</label>
    <input type="radio" name="artists" id="location" value="location">
    <label for="location">Location</label>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</div>
</body>
</html>